<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd 
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<context:component-scan base-package="ch.atos.tm.bluepoodle.frontend.springrest.security" />

	<!--
	<http use-expressions="true" pattern="/**" create-session="never" entry-point-ref="restAuthenticationEntryPoint" >
	-->
	<http use-expressions="true" pattern="/**" entry-point-ref="restAuthenticationEntryPoint" >
        <intercept-url pattern="/api/**" access="isAuthenticated()" />
		<intercept-url pattern="/api/admin/**" access="ROLE_ADMIN"/>
        <intercept-url pattern="/**" access="isAnonymous()" />

		<!--
        <form-login login-processing-url="/session" 
			authentication-success-handler-ref="mySuccessHandler" 
			authentication-failure-handler-ref="myFailureHandler" />
		-->
        <form-login login-processing-url="/session" 
			authentication-failure-handler-ref="myFailureHandler" />

        <logout />
		<http-basic entry-point-ref="restAuthenticationEntryPoint"/>
		
    </http>
    <beans:bean id="mySuccessHandler" class="ch.atos.tm.bluepoodle.frontend.springrest.security.MySavedRequestAwareAuthenticationSuccessHandler" />
    <beans:bean id="myFailureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler" />

	<!--
	<http use-expressions="true" entry-point-ref="restAuthenticationEntryPoint" >
		<intercept-url pattern="/api/**" access="isAuthenticated()" />
		<http-basic />
	</http>
	-->
	
    
    <authentication-manager alias="authenticationManager">
		<authentication-provider>
            <user-service>
                <user name="admin" password="admin" authorities="ROLE_ADMIN, ROLE_USER" />
                <user name="guest" password="guest" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
	</authentication-manager>

</beans:beans>